$color-white: #ffffff;
$color-black: #000000;
$color-gray: #e1e1e1;
$color-gray-light: #e6ecea;
$color-gray-lighter: #f8f8f8;
$color-gray-darker: #363636;
$color-gray-dark: #373737;

$color-blue: #464b5f;
$color-blue-dark: #04515f;
$color-blue-darkest: #0b373f;
$color-green-dark: #0b7a7c;
$color-red: #a71b1b;
$color-red-light: #d20917;

$color-yellow:#f3ef1a;
/*colors*/
$color-primary: $color-gray-dark;
$color-primary-text: $color-black;
$color-primary-link: $color-blue;
$color-primary-link-hover: $color-blue-dark;
$color-primary-btn: $color-blue-dark;
$color-primary-btn-hover: $color-blue;
$color-secondary: $color-blue;
$color-info: $color-green-dark;
$color-danger: $color-red;
$color-success: $color-blue;
$color-warning: $color-yellow;
$color-border: $color-gray;
$color-background-primary:$color-gray-light;